$c-green-main = #42b983;
$fw-normal = lighter;
$fw-bold = normal;

::selection {
  background: $c-green-main !important;
  color: $selection-color;
}

body {
  font-weight: $fw-normal;
  text-shadow: .5px .5px 0.5px rgba(165, 165, 165, 0.27);
}

b, strong {
  font-weight: $fw-bold !important;
}

.posts-expand .post-title {
  font-size: 20px !important;
  font-weight: $fw-bold !important;
}

.posts-expand .post-title, .posts-expand .post-meta {
  text-align: center !important;
}

.posts-expand .post-title-link::before {
  background-color: $c-green-main !important;
}

// 列表文章间距
.posts-expand .post {
  margin-top: 50px !important;
}

// 列表页文章分割先线
.post-eof {
//background: $green-main !important;
  display: block !important;
  margin: 40px auto 0px !important;
  width: 4% !important;
}

// 列表页阅读更多按钮
.post-more-link .btn {
  display: none !important;
}

// 代码的颜色
code {
  color: $c-green-main !important;
  font-weight: $fw-normal !important;
}

blockquote {
  border-left-color: $c-green-main !important;
}

.sidebar-toggle {
  background: transparent !important;
}

.sidebar-toggle-line {
  background: $c-green-main !important;
}

.back-to-top {
  color: $c-green-main  !important;
  background: transparent !important;
}

.footer-inner {
  text-align: center !important;
  font-weight: $fw-normal;
  font-size: smaller;
}
