// Custom styles.

$c-green-main = #42b983;
$c-green-light = #54FFB7;
$fw-normal = 200;
$fw-bold = normal;

// 全局
.main-inner {
  width: 800px;
}

::selection {
  background: $c-green-main;
  color: $selection-color;
}

body {
  font-weight: $fw-normal;
  text-shadow: .5px .5px 0.5px rgba(165, 165, 165, 0.27);
}

b, strong {
  font-weight: $fw-bold;
}

// 代码的颜色
code {
  color: $c-green-main;
  font-weight: $fw-normal;
}

h1 code {
  font-size: inherit;
}

// 引用竖线颜色
blockquote {
  border-left-color: $c-green-main;
}

.headband {
  display: block;
  height: 3px;
  background: $c-green-main;
}

.logo-line-before i, .logo-line-after i {
  display: none;
}

// 列表页标题
.posts-expand .post-title {
  font-size: 20px;
  font-weight: $fw-bold;
}

.posts-expand .post-title, .posts-expand .post-meta {
  text-align: center;
}

.posts-expand .post-title-link::before {
  background-color: $c-green-main;
}

// 列表文章间距
.posts-expand .post {
  margin-top: 50px;
}

// 列表页文章分割先线
.post-eof {
//background: $green-main;
  display: block !important;
  margin: 40px auto 0px;
  width: 80% !important;
  background: #eee !important;
  box-shadow: 1px -1px 2px #eee;
}

// 列表页阅读更多按钮
.post-more-link .btn {
  display: none;
}

.post-toc .nav .active > a, .post-toc .nav .active-current > a {
  color: $c-green-main;
  border-bottom-color: $c-green-main;
}

.post-toc .nav .active > a:hover {
  color: $c-green-light;
}

.sidebar-nav .sidebar-nav-active {
  color: $c-green-main;
  border-bottom-color: $c-green-main;
}

.sidebar-nav .sidebar-nav-active:hover {
  color: $c-green-light;
}

// 分页器居中
.pagination {
  text-align: center;
  border-top: none;
}

.pagination .page-number.current {
  background: $c-green-main;
  border-top-color: $c-green-main;
}

.pagination > a:hover {
  background: #eee;
}

.pagination .prev, .pagination .next, .pagination .page-number {
  border-top: none;
}

// 右下角功能按钮
.sidebar-toggle {
  background: transparent;
}

.links-of-author a:before {
  display: none;
}

.page-post-detail .sidebar-toggle-line, .sidebar-toggle-line {
  background: $c-green-main;
}

.back-to-top {
  color: $c-green-main;
  background: transparent;
}

// 页脚
.footer-inner {
  text-align: center;
  font-weight: $fw-normal;
  font-size: smaller;
}

// 多说
#ds-thread #ds-reset .ds-post-options .ds-sync {
  right: 120px !important;
}



