<!DOCTYPE html>
<html>
<head>
   {% include header-common.html %}
</head>
<body>

{% include nav.html %}

{{ content }}

{% include pagebar.html %}

{% include footer.html %}

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd186b913ad103244107e657549a03a13' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

{% include parallax.js.html %}

</html>