<!DOCTYPE html>
<html>
<head>
	{% include header-common.html %}
	
	{% include header-heightlight.html %}
	
	<link href="{{ site.rp }}css/post.css" rel="stylesheet" type="text/css"/>

</head>
<body>

{% include nav.html %}

<div id="posts" class="container">
  <div class="post">
    {% if page.contentimg %}
		<img class="container postimg" src="{{ site.contentImgPath }}{{ page.contentimg }}" alt="文章内容图">
	{% endif %}
	<h1 class="posttitle">{{ page.title }}</h1>
	<div class="postcontent">
	{{ content }}
	</div>
  <p class="label"><span>{{ page.date | date:"%Y-%m-%d" }}</span></p>
 </div>
 
	{% include duoshuo.html %}
	
</div>

{% include pagebar-post.html %}
		
{% include footer.html %}

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd186b913ad103244107e657549a03a13' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

{% include parallax.js.html %}

</html>